<html>
    <head>
        <meta charset="utf-8">
        <title>Выбор удаления</title>
    </head>
    <body>
        <h3 align="center">Что удалять?</h3>
        <table>
        <td><a href="{% url 'delete_proc' %}">Процессор</a></td>
        <td><a href="{% url 'delete_video' %}">Видокарта</a></td>
        <td><a href="{% url 'delete_mother' %}">Материнская плата</a></td>
        <td><a href="{% url 'delete_client' %}">Клиент</a></td>
        <td><a href="{% url 'delete_order' %}">Заказ</a></td>
    </table>
    </body>
</html>