<!DOCTYPE html>
{% load static %}

<html>
<head>
    <title>Информация о процессоре</title>
</head>
<body>
    <h3>Введите идентификатор процессора</h3>
    <form action='proc_detail_view' method='POST'>
        <input type="text"><br>
        <button type="button">Поиск</button>
    </form>
    <p><b>Изготовитель:</b> {{ data.manufacturer }}</p>
    <p><b>Модель:</b> {{ data.model}}</p>
    <p><b>Частота:</b> {{ data.frequency }}</p>
    <p><b>Сокет:</b> {{ data.socket }}</p>
    <p><b>Количество ядер:</b> {{ data.cores }}</p>
    <p><b>Количество потоков:</b> {{ data.threads }}</p>
    <p><b>Количество на складе:</b> {{ data.quantity }}</p>
    <p><b>Цена:</b> {{ data.price }}</p>
    <p><b>Изображение процессора:</b>{{ data.photo }}</p>
    <hr/>
    </body>
</html>