<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="static/images/logo/logo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="utf-8" />
    <title>Изменение видеокарты</title>
</head>

<body>
    <h1 align="center">Обновление информации о видеокарте</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Изготовитель</label><br>
            <input type="text" name="manufacturer" value="{{video.manufacturer}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Модель</label><br>
            <input type="text" name="model" value="{{video.model}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Тип памяти</label><br>
            <input type="text" name="memory_type" value="{{video.memory_type}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Объём памяти</label><br>
            <input type="number" name="memory_size" value="{{video.memory_size}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Количество на складе</label><br>
            <input type="number" name="quantity" value="{{video.quantity}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Цена</label><br>
            <input type="number" name="price" value="{{video.price}}" />
        </div>
        <div class="mb-3">
            <label class="form-label">Изображение видеокарты</label><br>
            <input type="file" name="photo" value="{{video.photo}}" />
        </div>
        <button type="submit" class="btn btn-primary" value="Сохранить">Сохранить</button>
    </form>
    <br>
    <a class="btn btn-lg btn-secondary" href="{% url 'change_rud' %}" role="bytton">Вернуться к выбору</a>
</body>

</html>