<!DOCTYPE html>
{% load static %}
<html>

<head>
  <link rel="shortcut icon" href="/static/images/logo/logo.png" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <meta charset="utf-8">
  <title>Список материнских плат</title>
</head>

<body>
  <h1 align="center">Список материнских плат</h1>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>ID</th>
        <th>Изготовитель</th>
        <th>Модель</th>
        <th>Сокет</th>
        <th>Чипсет</th>
        <th>Количество слотов памяти</th>
        <th>Максимальная частота памяти</th>
        <th>Количество на складе</th>
        <th>Цена</th>
        <th>Изображение материнской платы</th>
      </tr>
      {% for data in dataset %}
      <tr>
        <td>{{data.id}}</td>
        <td>{{data.manufacturer}}</td>
        <td>{{data.model}}</td>
        <td>{{data.socket}}</td>
        <td>{{data.chipset}}</td>
        <td>{{data.memory_slots}}</td>
        <td>{{data.max_memory_frequency}}</td>
        <td>{{data.quantity}}</td>
        <td>{{data.price}}</td>
        <td><img src="/static/images/mother/{{ data.photo.url }}" height="150" width="150"></td>
        <td><a href="update_mother/{{data.id}}">Изменить</a> | <a href="delete_mother/{{data.id}}">Удалить</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <a class="btn btn-lg btn-secondary" href="{% url 'change_rud' %}" role="bytton">Вернуться к выбору</a>
</body>

</html>