<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />
        <title>Список клиентов</title>
    </head>
    <body>
        <table border="1">
            <tbody>
              <tr>
                {% for fields in model_fields %}
                <th>{{ fields }}</th>
                {% endfor %} 
              </tr>
                {% for data in dataset %}
                <tr>
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.surname}}</td>
                <td>{{data.patronymic}}</td>
                <td>{{data.phone_number}}</td>
                <td>{{data.city}}</td>
                <td>{{data.street}}</td>
                <td>{{data.house}}</td>
                <td>{{data.flat}}</td>
                <td>{{data.email}}</td>
                <td>{{data.password}}</td>
                <td><a href="update_client/{{data.id}}">Изменить</a> | <a href="delete_client/{{data.id}}">Удалить</a></td>
            </tr>
                {% endfor %}
            </tbody>
          </table>
    
    </body>
</html>